<form action="/update/:id" method="POST">
<br>
    <label for="model">Model:</label>
    <input type="text" name="model"><br><br>

    <label for="image">Image:</label>
    <input type="text" name="image"><br><br>

    <label for="price">Price: </label>
    <input type="text" name="price"><br><br>

    <label for="year">Year:  </label>
    <input type="text" name="year"><br><br><br>

    <input type="submit" value="Update">
</form>